<!--<style>
   #category-cover {
    background-image: url( `{{img}}` );
    };
</style>-->
  <div id="category-cover" [style.background-image]="img" class="bg-parallax ">
    <div id="category-content-box">
        <div id="category-content-box-inner" class="text-center">
            <div id="category-heading" >
            </div>
        </div>
    </div>
</div>
<div *ngIf='ad'>
  
  <div class="container info">
   
    <div class="row">
        <div class="col-md-6 badge-img">
        <img src="../../../../../assets/img/id-badge.svg" class="img-responsive" alt="">
          <!--<img src="{{ad.img}}" class="img-responsive" height="100%" width="100%" alt="ad image">-->

      </div>
      <div class="col-md-6 ad-info">
        <h1>Contact</h1>
        <div class="contact-info">
          <p class="text-bold">{{ ad.company }}</p>
          <p>{{ ad.city }},   {{ ad.state }}</p>
          <p><i class="fa fa-phone"></i> {{ ad.phone}} </p>
          <p><i class="fa fa-tags"></i>  {{ ad.category }}</p>                   
          <p><i class="fa fa-desktop"></i><a href="{{ad.link}}">{{ad.link}}</a></p>
          <div class='ad-title-underline'></div>
          <p > {{ ad.description }}</p>
        </div>
      </div>
    </div>
  </div>

  

</div>
