 <!-- Home -->
    <section id="home">

        <div id="home-cover" class="bg-parallax animated fadeIn">

            <div id="home-content-box">

                <div id="home-content-box-inner" class="text-center">

                    <div id="home-heading" class="animated zoomIn">
                        <h3>Veterans<br>Service Directory</h3>
                    </div>
                    <div id="home-btn" class="animated zoomIn">
                        <a class="btn btn-lg btn-general btn-header smooth-scroll" href="#contact" role="button" title="View Our Work">Contact Us</a>
                    </div>

                </div>

            </div>

        </div>

    </section>

    

    
  
 
    <!-- About -->
    <section id="about">

        <!-- About right side with diagonal BG parallax -->
        <div id="about-bg-diagonal" class="bg-parallax"></div>

        <!-- About left side with content -->
        <div class="container">

            <div class="row">

                <div class="col-md-4">

                    <div id="about-content-box">

                        <div id="about-content-box-outer">

                            <div id="about-content-box-inner">

                                <div class="content-title">
                                    <h3> About Us </h3>
                                    <div class="content-title-underline"></div>
                                </div>

                                <div id="about-desc">
                                    <p>The Veterans Service Directory is a listing of local businesses who offer special incenties to active and retired members of the armed services. These special incentives include but are not limited to Veterans Discounts, Veteran employment opportunities, special programs for Veterans like the VA Home loan program, and Veteran education progarms. Our service directories are available to Veterans through our website and inside of many different Veteran social organizations like the VFW, The American Legion, The DAV, Elks Lodges and other locations.  For a list of our locations near you please contact us.</p>
                                </div>

                                <!--<div id="about-btn" class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">

                                    <a class="btn btn-lg btn-general btn-blue smooth-scroll" href="#work" role="button" title="View Work"> Our Work </a>

                                </div>-->

                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- Work -->
    <section id="resources">

        <div class="content-box">
            
            <div class="container">
                
                <div id="employment">
                    <div class="row separator">
                    <div class="content-title marg">
                 <h3>Employment</h3>
                </div>
                <div class='content-title-underline'></div>
                    <div class="col-md-6 bg-parallax">
                        <img src="../../assets/img/veterans/employment2.png" class="img-responsive" height="300px" width="550" alt="resources image">                        
                    </div>
                    <div class="col-md-6">
                        <div class="resources-item">
                            <div id="resources-desc" class="service-item-description">
                                <p>Our Employment directory is a network of businesses nationwide that hire Veterans, and provide skills training for active and retired members of the armed services. Please visit the directory and feel free to contact these businesses if you are a Veteran looking for employment.</p>
                                <!-- <a class="btn btn-lg btn-general btn-black smooth-scroll" href="#resources" role="button" title="View Our Work">Learn More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div id="benefits">
                    <div class="row separator">
                    <div class="content-title marg">
                 <h3>Benefits</h3>
                </div>
                <div class='content-title-underline'></div>
                    <div class="col-md-6 bg-parallax">
                        <img src="../../assets/img/veterans/benefits.png" class="img-responsive" height="300px" width="550" alt="resources image">                        
                    </div>
                    <div class="col-md-6">
                        <div class="resources-item">
                            <div id="resources-desc left" class="service-item-description">
                                <ol class="left">
                                    <li class="left"><p class="left">Our guides not only connect Veterans with military programs but also with local businesses who offer special services and discounts for past and present members of the armed services.</p></li>
                                    <li class="left"><p class="left">Veterans Post receive a percentage of money raised through sponsors as well as a digital billboard and resource guide at no cost.</p></li>
                                    <li class="left"><p class="left">Through this program local businesses are able to show their support in the community for those  who have served this country with honor. They are also able to promote their own services to the most loyal group of men and women in this nation.</p></li>
                                </ol>
                            </div>
                         <!--   <a class="btn btn-lg btn-general btn-black smooth-scroll" href="#resources" role="button" title="View Our Work">Learn More</a> -->
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </section>