<section id="bl">
  <div class="vertical-container">
    <div class="text-center">
      <h1>Categories</h1>
      <!-- items being paged -->
      <table class="table table-striped white">
        <thead>
          <tr>
            <th class="text-center">
              Name
            </th>
            <th class="text-center">
              State
            </th>
            <th class="text-center">
              City
            </th>
            <th class="text-center">Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }">
            <td>{{item.name}}</td>
            <td>{{item.state}}</td>
            <td>{{item.city}}</td>
            <td (click)='tdClick($event)'> <button class='btn btn-danger btn-sm' (click)='removeCategory(item)'>Delete Category</button></td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</section>

