<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div id="flipkart-navbar">
  <div class="container">
    <div class="row row1">
      <h1 style="margin:0px;"><span class="largenav">Veteran's Service Directory</span></h1>

      <ul class="largenav pull-right">
        <li class="upper-links">
          <p><a class='links' routerLink='/' routerLinkActive="active"><i class="fa fa-home"></i>Home</a></p>
        </li>
        <li class="upper-links">
          <p><a class="links" href="#employment"><i class="fa fa-briefcase"></i> Employment Opportunities </a></p>
        </li>
        <li class="upper-links">
          <p><a class="links" routerLink='/services' routerLinkActive="active"><i class="fa fa-cogs"></i>Services</a></p>
        </li>
        <li class="upper-links">
          <p><a class="links" href="#contact"><i class="fa fa-envelope"></i> Contact</a></p>
        </li>
        <li class="upper-links" *ngIf='isAuthed()'>
          <p><a class="links" routerLink='/ads'>Ads</a></p>
        </li>
        <li class="upper-links" *ngIf='isAuthed()'>
          <p><a class="links" (click)='logout()'>Logout</a></p>
        </li>

        <li class="upper-links dropdown">
          <p class="links">States<i class="fa fa-angle-down"></i></p>
          <ul class="dropdown-menu" *ngIf='states'>
            <li *ngFor='let state of states  | orderBy:order:ascending' class="profile-li"><a class="profile-links" [routerLink]="['/states', state._id]">{{state.name}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="row row2">
      <div class="col-sm-2">
        <h2 style="margin:0px;"><span class="smallnav menu" (click)='isCollapsed = !isCollapsed'>☰ VSD</span></h2>
        <!--<h1 style="margin:0px;"><span class="largenav">Veteran's Service Directory</span></h1>-->
      </div>
      <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
        <div class="row">
          <form (ngSubmit)='onSubmit(searchForm.value)' #searchForm='ngForm'>
            <input type="text" class="flipkart-navbar-input col-xs-11" type="text" name='name' [ngModel]='search.name' placeholder="Search For An Ad">
            <!--<input class="flipkart-navbar-input col-xs-11"  type="text" name='name' [ngModel]='search.name' placeholder="Search For An Ad">-->
            <button class="flipkart-navbar-button col-xs-1">
                        <svg width="15px" height="15px">
                            <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 " fill="#fff"></path>
                        </svg>
                      </button>
          </form>
        </div>
      </div>
      <div class="cart largenav col-sm-2">
        <a class="cart-button" routerLink='/states'>
                    <i class="fa fa-tags"></i>Directory
                </a>
      </div>
    </div>
  </div>
</div>
<div id="mySidenav" class="sidenav" [collapse]='isCollapsed'>
  <div routerLink='/' routerLinkActive="active" class="container" style="background-color: #2874f0; padding-top: 10px;">
    <span class="sidenav-heading"><i class="fa fa-home"></i>Home</span>
    <a href="javascript:void(0)" class="closebtn" (click)='isCollapsed = !isCollapsed'>×</a>
  </div>
  <div id="dropDown" class="navbar-collapse collapse navbar " [collapse]='isCollapsed'>
    <ul class="nav navbar-nav nav-list">
      <li><a routerLink='/states'><i class="fa fa-tags"></i>Veteran's Directory</a></li>
      <li><a href="#employment"><i class="fa fa-briefcase"></i> Employment Opportunities </a></li>
      <li><a routerLink='/services' routerLinkActive="active"><i class="fa fa-cogs"></i>Services</a></li>
      <li><a href="#contact"><i class="fa fa-envelope"></i> Contact</a></li>
      <li role="menuitem" *ngIf='isAuthed()'><a class="dropdown-item" routerLink='/ads'>Ads</a></li>
      <li *ngIf='isAuthed()'>
        <button class="btn btn-lg btn-primary searchButton" (click)='logout()'>Logout</button>
      </li>
    </ul>
  </div>
</div>



<!--<nav class="navbar navbar-inverse">
  <div class="container-fluid " >
    <div class="navbar-header "> 
        <button type="button" id="resp-menu" class="navbar-toggle collapsed responsive-menu" (click)='isCollapsed = !isCollapsed'>
            <span class="sr-only"><i class="fa fa-reorder"></i> Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
                                  
    </div>
      <div id="navbar" class="navbar-collapse collapse navbar " [collapse]='isCollapsed'>
        <ul class="nav navbar-nav nav-list">
          <li><a routerLink='/' routerLinkActive="active"><i class="fa fa-home"></i>Home</a></li>
          
          <li><a  routerLink='/states'><i class="fa fa-tags"></i>Veteran's Directory</a></li>
          <li><a  href="#employment"><i class="fa fa-briefcase"></i> Employment Opportunities </a></li>
          <li><a routerLink='/services' routerLinkActive="active"><i class="fa fa-cogs"></i>Services</a></li>
          <li><a  href="#contact"><i class="fa fa-envelope"></i> Contact</a></li>
          <li role="menuitem" *ngIf='isAuthed()'><a class="dropdown-item" routerLink='/ads'>Ads</a></li>
            <li *ngIf='isAuthed()'>
                <button class="btn btn-lg btn-primary searchButton" (click)='logout()'>Logout</button>
            </li>
                  
          <li>
            <div class="container">
        <div class="row">
              <div class="span12">
                  <form (ngSubmit)='onSubmit(searchForm.value)' #searchForm='ngForm' id="custom-search-form" class="form-search form-horizontal pull-right">
                      <div class="input-append span12">
                          <input type="text" class="search-query" type="text" name='name' [ngModel]='search.name' placeholder="Search">
                          <button type="submit" class="btn"><i class="glyphicon glyphicon-search"></i></button>
                      </div>
                  </form>
              </div>
        </div>
      </div>
          </li>
        </ul>
       
        
          
      </div>
  </div>

</nav>-->
