<section id="bl">
  <div>
    <div class="vertical-container">
        <div class="text-center">
            <h1>Ads</h1>
 
            <!-- items being paged -->
            <!--<div *ngFor="let item of pagedItems">{{item.title}}</div>-->
            <table class="table table-striped white">
              <thead>
                <tr>   
                <th class="text-center">
                    Company
                  </th>
                <th class="text-center">
                  name                
                  </th>
                <th class="text-center">Actions</th>      
              </thead>
              <tbody>
                <tr [routerLink]="['/ads', ad._id]" *ngFor='let ad of pagedItems'>
                  <td>{{ad.name}}</td>
                  <td>{{ad.company}}</td>
            
                  <td (click)='tdClick($event)'> <button class='btn btn-danger btn-sm' (click)='removeAd(ad)'>Delete Ad</button></td>
                </tr>
              </tbody>
            </table>

            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>

</section>



<a routerLink='new'>Add an ad</a>