<section class="states">

       <div class="container content">   
           <img src="../../assets/img/directory.png" width="100%" class="img-responsive" alt="States Banner">

        <div class="row ">
          <div class="col-md-6">
            <div *ngIf='states' class="state-listings">
              <div class="container">
            <br />
          <div class="row">

        <div class="dual-list list-left col-md-5">
            <div class="well text-right">
                <div class="row">
                    <div class="col-md-10">
                        <div class="input-group input-group-lg">
                            <span id="sizing-addon1" class="input-group-addon glyphicon glyphicon-search"></span>
                            <input type="text" class="search" class="form-control" [(ngModel)]='filter.name' placeholder='Search States' aria-describedby="sizing-addon1">
                        </div>
                    </div>
                 
                </div>
                <ul class="list-group">
                    <li class="list-group-item col-lg-4 col-md-6 col-sm-12" *ngFor='let state of states | search:filter | orderBy:order:ascending' [routerLink]="['/states', state._id]"><a> {{state.name}}</a></li>
                </ul>
            </div>
        </div>

        
        

	</div>
</div>
            </div>
          </div>
          <div class="col-md-6">
            <router-outlet></router-outlet>
          </div>
      </div>
     </div>
      
</section>

