
/*====================================================
                        STATES
======================================================*/

.states {
  background-color: #EFEFEF;
  padding-bottom: 10px;
} 


/*====================================================
                        Accordian
======================================================*/

:host >>> .card.customClass,
.card.customClass .card-header,
.panel.customClass {
  background-color: #2469D9;
  color: #fff;
  margin: 0px;
  padding: 0px;
}
:host >>> .panel.customClass .panel-body {
  background-color: #337aa7;
  
}

.panel-group .panel {
  margin-top: 5px;
}

.input-group {
  margin-bottom: 10px;
}