/*====================================================
                    LIST GROUP
======================================================*/


.list-group li:nth-child(odd) {
/*background-color: #F9F9F9;*/
background-color: #F9F9F9;


}

.list-group {
  
    margin-top: 10px;    
    font-weight: bold;

}

.list-group a {
            color: black;

}

/*====================================================
                        CONTENT
======================================================*/

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}
.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #50563C;
    margin: 0 auto 30px auto;
}

