<img src="../../assets/img/citiesPage.png" width="100%" class="img-responsive" alt="States Banner">

<div class="container" *ngIf='cities'>
  <div class="row">
    <div class="content-title">
      <h3>Cities</h3>
                <div class='content-title-underline'></div>

    </div>
    <div class="col-md-6">
      <input type="text" class="search" class="form-control" [(ngModel)]='filter.name' placeholder='Search Cities' aria-describedby="sizing-addon1">
      <ul class="list-group ">
        <li class="list-group-item" *ngFor='let city of cities  | search:filter  | orderBy:order:ascending' [routerLink]="['/states', 'cities', city._id]"><a> {{city.name}}</a></li>
      </ul>
    </div>
  </div>
</div>

