<section id="bl">
  <div class="vertical-container">
    <div class="text-center">
      <h1>Banners</h1>
      <table class="table table-striped white">
        <thead>
          <tr>
            <th class="text-center">
              Image name
            </th>
            <th class="text-center">
              Path
            </th>
            <th class="text-center">Actions</th>
        </thead>
        <tbody>
          <tr [routerLink]="['/ads', item._id]" *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }">
            <td>{{item.originalname}}</td>
            <td>{{item.path}}</td>
            <td (click)='tdClick($event)'> <button class='btn btn-danger btn-sm' (click)='removeBanner(item)'>Delete Banner</button></td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</section>

