<section class="wrapper" *ngIf='collection'>
  <section>
    <div class="content-box">
      <div>
        <div class="content-title">
          <h1>{{ currentCategory }}</h1>
        </div>
        <div class="text-center">
          <section id="ads">
            <div class="row">
              <div class="col-md-4 text-center" [routerLink]="['/ad', item._id]" *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }">
                <div class="panel panel-danger panel-pricing">
                  <div class="panel-heading">
                    <img src="{{item.img}}" class="img-responsive" height="100%" width="100%" alt="ad image">
                  </div>
                  <div class="panel-body text-center">
                    <p><strong>{{ item.company }}</strong></p>
                  </div>
                  <ul class="list-group text-center">
                    <li class="list-group-item"> {{item.city}}, {{item.state}}</li>
                    <li class="list-group-item"><i class="fa fa-tags"></i>{{ item.category }}</li>
                    <li class="list-group-item"><i class="fa fa-phone"></i> {{item.phone}}</li>
                    <li class="list-group-item"><i class="fa fa-phone"></i> {{item.address}} {{item.city}} {{item.state}}</li>
                  </ul>
                  <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-blue" href="#"><i class="fa fa-desktop"></i>{{item.link}}!</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

