
p {
    color: #000;
}

.ad-content .description {
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    /*width: 400px;*/
    /*position: absolute;*/
}

/*====================================================
                       Ads
======================================================*/




#ad-placement-2{
    text-align: left;
    
}

.ad-content {
    display: table;
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
    border: 1px solid lightgrey;
    padding: 20px;

}



/*====================================================
                      BANNER ADS
======================================================*/

#banner {
    padding-bottom: 30px;
    display: inline-block;
}

#banner2{
    display: inline-block;
    margin-left: 20px;
}

.bannerAds {-webkit-transition:  -webkit-transform .15s linear;
-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
background:#dddddd;
padding: 5px 5px 5px 5px;
}


.ads {
-webkit-box-shadow:  0 3px 6px rgba(0,0,0,.5);
-moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);

}

/*DARKEN*/
.brighten img {
  -webkit-filter: brightness(100%);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
          display: inline-block;
}
 
.brighten img:hover {
  -webkit-filter: brightness(130%);
}


.advertis-right {
    margin-top: 150px;
left: 70%;
/*margin-left: 370px;*/
position: absolute;
top: 0;
width: 500px;
z-index: 1
}
/* Responsive Styles */
@media (max-width: 1199px) {


.advertis-right {
    margin-left: 470px;
}

}
@media (max-width: 991px) {

.advertis-right {
    margin-left: 360px;
}
}
@media (max-width: 767px) {

.navbar-nav .dropdown-submenu > .dropdown-menu {
    margin-left:10px;
    display:block;
}

.advertis-right {
    display:none;
}
}


.advertis-right2 {
    margin-top: 550px;
left: 80%;
/*margin-left: 370px;*/
position: absolute;
top: 0;
width: 500px;
z-index: 1
}
/* Responsive Styles */
@media (max-width: 1199px) {


.advertis-right2 {
    margin-left: 470px;
}

}
@media (max-width: 991px) {

.advertis-right2 {
    margin-left: 360px;
}
}
@media (max-width: 767px) {

.navbar-nav .dropdown-submenu > .dropdown-menu {
    margin-left:10px;
    display:block;
}

.advertis-right2 {
    display:none;
}

table {
    display: block;
    width: 100%;
   }
    
}

/*
.ad-title-underline {
    width: 90%;
    height: 3px;
    background-color: lightgray;
    margin: 0 auto 30px auto;
}

.ad-title-underline-two {
    width: 100%;
    margin-top: 10px;

    height: 3px;
    background-color: #000;
    margin: 10 auto 30px auto;
}

.wrapper {
    margin-bottom: 20px;
}

.ad-item-description {
    display: inline-block;
    
}

.ad-content p {
    margin-left: 5px;
    font-size: 25px;
}

.ad-content a {
    margin-left: 5px;
    font-size: 25px;

}

.ad-content img {
    margin-left: 5px;
    vertical-align: top;
}

.ad-content .description {
    margin-top: 10px;
    font-size: 18px;
}*/


.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  padding: 20px 10px;
}
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}

