<div class="container">
  <div class="row">
    <h1>Mangage Ad Database</h1>
    <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav nav-list">
        <li><a routerLink='new'>Create An Ad</a></li>
        <li><a routerLink='search'>Search For An Ad</a></li>
        <li><a routerLink='ad-list'>Ad List</a></li>
        <li><a routerLink='state-list'>State List</a></li>
        <li><a routerLink='city-list'>City List</a></li>
        <li><a routerLink='category-list'>Category List</a></li>
        <li><a routerLink='banner-new'>Upload a banner</a></li>
        <li><a routerLink='banner-list'>Banner List</a></li>
      </ul>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
