    <!-- Home -->
    <section id="home">

        <div id="home-cover" class="bg-parallax animated fadeIn">

            <div id="home-content-box">

                <div id="home-content-box-inner" class="text-center">

                    <div id="home-heading" class="animated zoomIn">
                        <h3>Services</h3>
                    </div>
                    

                </div>

            </div>

        </div>

    </section>

    

    <!-- Services -->
    <section id="services">

        <div class="content-box">
            <div class="content-title">
                <h3> Services </h3>
                <div class="content-title-underline"></div>
            </div>

            <div class="container">

                <div class="row">

                    <div class="col-md-4 col-sm-6">

                        <div class="service-item">

                            <div class="service-item-icon">
                                <i class="fa fa-home fa-3x"></i>
                            </div>

                            <div class="service-item-title">
                                <h3> Direct Advertising</h3>
                            </div>

                            <div class="service-item-desc">
                                <p>Advertise in a Veterans Post near you on a closed circuit tv, examples include the VFW, American Legion and DAV</p>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">

                            <div class="service-item-icon">
                                <i class="fa fa-laptop fa-3x"></i>
                            </div>

                            <div class="service-item-title">
                                <h3> Online Advertising</h3>
                            </div>

                            <div class="service-item-desc">
                                <p>Advertise directly on our website directory to reach hundreds of new customers</p>
                            </div>

                        </div>


                    </div>
                    <div class="col-md-4 col-sm-6">

                        <div class="service-item">

                            <div class="service-item-icon">
                                <i class="fa fa-tablet fa-3x"></i>
                            </div>

                            <div class="service-item-title">
                                <h3>Mobile Friendly Advertising</h3>
                            </div>

                            <div class="service-item-desc">
                                <p>30% of internet searches are now done on a mobile device</p>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">

                            <div class="service-item-icon">
                                <i class="fa fa-flag fa-3x"></i>
                            </div>

                            <div class="service-item-title">
                                <h3> Support The Veterans </h3>
                            </div>

                            <div class="service-item-desc">
                                <p>Show your support for the troops in your community</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <div class="service-item-icon">
                                <i class="fa fa-pencil-square-o fa-3x"></i>
                            </div>

                            <div class="service-item-title">
                                <h3> Custom Artwork </h3>
                            </div>

                            <div class="service-item-desc">
                                <p>Our graphic arts department will custom create an ad for your business</p>
                            </div>

                        </div>


                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">

                            <div class="service-item-icon">
                                <i class="fa fa-life-ring fa-3x"></i>
                            </div>

                            <div class="service-item-title">
                                <h3> Employ Veterans</h3>
                            </div>

                            <div class="service-item-desc">
                                <p>Advertise in our employment guide to help find jobs for returning military</p>
                            </div>

                        </div>
                    </div>

                </div>

            </div>


        </div>

    </section>
    
  
 
    

    <!-- Packages -->
    <section id="packages">

        <div class="content-box">
            <div class="content-title">
                <h3> Our Packages </h3>
                <div class="content-title-underline"></div>
            </div>

            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="pricing-box text-center red">

                            <h4 class="pricing-title">Red</h4>
                            <!--<h3 class="pricing-value">49<sup>$</sup></h3>-->
                            <ul class="pricing-spec">
                                <li>
                                    <p>Direct Advertising</p>
                                </li>
                                <li>
                                    <p>Closed Circuit TV</p>
                                </li>
                                <li>
                                    <p>12 Months of Run Time</p>
                                </li>
                                <li>
                                    <p>Custom Artwork</p>
                                </li>
                            </ul>
                            <div class="pricing-btn">
                                <a class="btn btn-lg btn-general btn-blue" href="#" role="button">Purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="pricing-box pricing-box-lg text-center white">

                            <h4 class="pricing-title pricing-title-center">White</h4>
                            <!--<h3 class="pricing-value">89<sup>$</sup></h3>-->
                            <ul class="pricing-spec">
                                <li>
                                    <p>Direct & Online</p>
                                </li>
                                <li>
                                    <p>Web & TV</p>
                                </li>
                                <li>
                                    <p>12 months of run time</p>
                                </li>
                                <li>
                                    <p>Custom Artwork</p>
                                </li>
                            </ul>
                            <div class="pricing-btn">
                                <a class="btn btn-lg btn-general btn-blue" href="#" role="button">Purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing-box text-center blue">

                            <h4 class="pricing-title">Blue</h4>
                            <!--<h3 class="pricing-value">69<sup>$</sup></h3>-->
                            <ul class="pricing-spec">
                                <li>
                                    <p>Online Advertising</p>
                                </li>
                                <li>
                                    <p>Website Placement</p>
                                </li>
                                <li>
                                    <p>12 Months of run time</p>
                                </li>
                                <li>
                                    <p>Custom Artwork</p>
                                </li>
                            </ul>
                            <div class="pricing-btn">
                                <a class="btn btn-lg btn-general btn-blue" href="#" role="button">Purchase</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- End Content Box -->
    </section>
